<p>
	由于邮件客户端的诡异渲染模式，邮件模板的开发不同于网页的开发，简洁的设计可以一定程度上帮忙到开发
</p>
<p><strong>保持设计简单。简洁的设计，代码将会更简单，也将会减少在各个浏览器和邮件客户端的异常。</strong></p>
<p><strong>设计&nbsp;EDM&nbsp;宽度不宜超过600像素，邮件预览面板一般少于600px。</strong></p>
<p><strong>在背景图上不宜有变化的文字或者图片，各个浏览器和邮件客户端的支持度不是很好。</strong></p>
<p><strong>邮件模板的一些赏析：</strong></p>
<p><a target="_blank" href="http://www.campaignmonitor.com/templates/all/">http://www.campaignmonitor.com/templates/all/</a></p>
<p><a target="_blank" href="http://www.1stwebdesigner.com/tutorials/ultimate-guide-html-emails/">http://www.1stwebdesigner.com/tutorials/ultimate-guide-html-emails/</a></p>
<ul>
	<li>
		<p>模板一：</p>
		<img src="images/temple1.png" class="screenshots"/>
		<p>模板二：</p>
		<img src="images/temple2.png" class="screenshots"/>
		<p>模板三</p>
		<img src="images/temple3.png" class="screenshots"/>
	</li>
</ul>
