<h3>在&nbsp;outlook&nbsp;中，直接在&nbsp;table&nbsp;上写高度设置是不起作用的；</h3>
<ul>
	<li>
		<img src="images/tips_height.png" class="screenshots"/>
		<p>显示效果</p>
		<img src="images/tips_height1.png" class="screenshots"/>
	</li>
</ul>
<h3>在&nbsp;outlook&nbsp;中，&nbsp;margin&nbsp;上下高度是不起作用的</h3>
<ul>
	<li>
		<img src="images/tips_margin.png" class="screenshots"/>
		<p>显示效果</p>
		<img src="images/tips_margin1.png" class="screenshots"/>
	</li>
</ul>
<h3>在使用<span>&nbsp;<</span>p<span>>&nbsp;</span>、<span>&nbsp;<</span>h3<span>>&nbsp;</span>等标签时，要加上&nbsp;margin：0；padding：0&nbsp;；消除在各个浏览器以及客户端显示不一；</h3>
<ul>
	<li>
		<img src="images/tips_p.png" class="screenshots"/>
		<p>在&nbsp;QQ&nbsp;邮件中显示效果</p>
		<img src="images/tips_p1.png" class="screenshots"/>
		<p>在&nbsp;outlook&nbsp;邮件中显示效果</p>
		<img src="images/tips_p2.png" class="screenshots"/>
	</li>
</ul>
<h3>在&nbsp;outlook&nbsp;中不能使用&nbsp;position&nbsp;绝对定位以及相对定位以及&nbsp;float&nbsp;浮动；</h3>
<ul>
	<li>
		<img src="images/tips_position.png" class="screenshots"/>
	</li>
</ul>
<h3>在每一个&nbsp;td&nbsp;中要设置&nbsp;font-family&nbsp;，在&nbsp;table中&nbsp;设置&nbsp;font-family&nbsp;不一定能让td中的文字也跟随改变；</h3>
<ul>
	<li>
		<img src="images/tips_font.png" class="screenshots"/>
	</li>
</ul>
<h3>不要使用&nbsp;flash&nbsp;动画或&nbsp;JavaScript Active&nbsp;等，前些年邮件病毒泛滥，大部分邮件运营商都已经屏蔽了这些元素。</h3>
